* {
    font-family: "Poppins", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vw;
}

input {
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    outline: none;
}

h1 {
    padding-bottom: 10px;
}
